/* -- Reset Section -- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;}                  
article, aside, figure, footer, header, hgroup, nav, section { display:block;}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
a, a:link, a:visited, a:hover, a:active { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; color: inherit;}
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help;}
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
input, select { vertical-align:middle;}



html {
	font-family: 'Alte Haas Grotesk' sans-serif;
	font-size: 24px;
  color: #ffffff;
  text-align: center;
}

html {
	position: relative; width: 100%; margin: 0 auto; padding: 0; background: url(../img/scf.jpg) no-repeat fixed; background-size: cover; background-position: center; 
}


/* HOME */

.header_time {
  padding-top: 40px;
}

.header_join {
  padding-top: 140px;
}

.header_join a {
  padding-top: 120px;
  margin: 0 40px;

}

#one {
  min-height: 650px;
  margin: auto;
  padding-top: 90px;
  font-family: 'novecento_wide_bookregular', sans-serif;
  text-shadow: 0px 0px 20px #000000;
}

h1 {
  font-size: 165px;
  letter-spacing: 45px;
}

h2 {
  font-size: 40px;
  letter-spacing: 20px;
}

#two {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px;
  color: #313131;
}


h3 {
  font-weight: normal;
  padding: 20px 0;
}


#questions {
  width: 704px;
  text-align: left;
  margin: auto;
  padding-top: 40px;
}

#questions p {
  font-size: 18px;
}

#questions a {
  color: #ffc800;
}


#companies {
  min-width: 240px;
  margin: auto;
}

#companies img {
  width: 210;
  height: 140;
  padding: 10px;
}

#copyright {
  font-size: 18px;
  color: #313131;
}

/*-----------------*/

#three {
  width: 84%;

  background:rgba(0,0,0,0.5);
  border: 7px white solid;

  margin: 40px auto;
}

#form {
  width: 54%;
  min-width: 300px;
  margin: auto;
  padding-top: 40px;
  color: white;
}



@media only screen and (max-width: 1280px) {
  h1 {
    font-size:140px;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size:100px;
  }
}

@media only screen and (max-width: 970px) {
  #questions {
    width: 90% !important;
  }
  h1 {
    font-size:60px;
    letter-spacing: 15px;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 5px;
  }
  .header_join a {
    margin: 0;
    padding:0;
  }
}